$max-img-width: 600px;
$max-img-height: 400px;
$font-family: 'Courier New', Courier, monospace;

* {
    font-family: $font-family;
}

footer {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

.toc {
    margin: 1rem;
    padding: 1rem;
}

.hack {
    .toc::before,
    .toc::after,
    hr::after {
        content: "------------------------------------------------------------------------------------------------------------------------------------------";
        position: relative;
        top: 0;
        left: 0;
        line-height: 20px;
        width: 100%;
        word-wrap: break-word;
    }


    h1::after {
        content: "==========================================================================================================================================";
    }

    .toctitle {
        display: block;
    }
}



@media print {
    * {
        background-color: #fff !important;
        color: #222;
    }

    * {
        font-size: 11pt !important;
        font-family: $font-family !important;
    }

    @page {
        margin: 0.5in;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid !important;
    }

    p,
    li,
    blockquote,
    figure,
    img {
        page-break-inside: avoid !important;
    }

    a::after {
        content: " (" attr(href) ") " !important;
        font-size: 90% !important;
    }
}